{% extends "base.html.twig" %}

{% block body %}
     <div id="app"></div>
{% endblock %}

{% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('changepassword') }}
{% endblock %}

{% block javascripts %}
     {{ parent() }}
     <script>
     window.userName = "{{app.user.username}}"
     </script>
     
     {{ encore_entry_script_tags('changepassword') }}
{% endblock %}