{% extends "base.html.twig" %}

{% block body %}
     {{ form_start(form) }}
          {{ form_widget(form) }}
          <a href="{{ path('app_homepage') }}" class="btn btn-primary float-end ms-3">Regresar</a>
          <button type="submit" class="btn btn-primary float-end ">Buscar</button>
     {{ form_end(form) }}
     <table class='table table-striped table-hover caption-top align-middle'>
        <caption>
            Control Hist&oacute;rico: <br>
            Fecha: 
            {% if fecha %}
                {{ fecha|date("M/Y")}}
            {% endif %}
        </caption>
        <thead>
            <tr>
                <td rowspan='2' align='center' class='align-middle'>C&oacute;digo</td>
                <td rowspan='2' align='center' class='align-middle'>Partida</td>
                <td colspan='3' align='center'>Inicial</td>
                <td colspan='2' align='center'>Rendido</td>
                <td colspan='3' align='center'>Por Gastar</td>
                <td rowspan='2' align='center' class='text-break align-middle'>Presupuesto Actualizado</td>
            </tr>
            <tr>
                <td>Cantidad</td>
                <td>Unitario</td>
                <td>Total</td>
                <td>Cantidad</td>
                <td>Total</td>
                <td>Cantidad</td>
                <td>Unitario</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            {% for presupuesto in controles %}
                <tr>
                    <td>{{presupuesto.partida.codigo}}</td>
                    <td>{{ presupuesto.partida.nombre }}</td>
                    <td align='right'>{{ presupuesto.cantini ? presupuesto.cantini|number_format(2, '.', ',') : '' }}</td>
                    <td align='right'>{{ presupuesto.costoini ? presupuesto.costoini|number_format(2, '.', ',') : '' }}</td>
                    <td align='right'>{{ presupuesto.totalini|number_format(2, '.', ',') }}</td>
                    <td align='right'>{{ presupuesto.partida.acumula ? '': presupuesto.rendidocant|number_format(2, '.', ',')  }}</td>
                    <td align='right'>{{ presupuesto.rendidotot|number_format(2, '.', ',') }}</td>
                    <td align='right'>{{ presupuesto.porgascan ? presupuesto.porgascan|number_format(2, '.', ',') : '' }}</td>
                    <td align='right'>{{ presupuesto.porgascost ? presupuesto.porgascost|number_format(2, '.', ',') : ''}}</td>
                    <td align='right'>{{ presupuesto.porgastot|number_format(2, '.', ',') }}</td>
                    <td align='right'>{{ presupuesto.presactu|number_format(2, '.', ',') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}