{% extends "base.html.twig" %}

{% block body %}
     {{ form_start(form) }}
          {{ form_widget(form) }}
          <a href="{{ path('app_homepage') }}" class="btn btn-primary float-end ms-3">Regresar</a>
          <button type="submit" class="btn btn-primary float-end ">Buscar</button>
     {{ form_end(form) }}

     {% if rubros %}
          <table class='table table-striped table-hover caption-top align-middle'>
               <caption>Gastado en el mes</caption>
               <thead>
                    <tr class='table-primary'>
                         <td align='center'>C&oacute;digo</td>
                         <td align='center'>Partida</td>
                         <td align='center'>Total</td>
                    </tr>
               </thead>
               <tbody>
                    {% for rubro in rubros %}
                         <tr>
                              <td>{{rubro.codigo}}</td>
                              <td>{{rubro.nombre}}</td>
                              <td align='right'>{{rubro.total|number_format(2, '.', ',')}}</td>
                         </tr>
                    {% endfor %}
               </tbody>
          </table>
     {% endif %}
{% endblock %}