<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# font file  #}
            <link rel="stylesheet" href="https://use.typekit.net/hvk3ymm.css">

            {# App own css classes #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-light">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ include('navbar.html.twig') }}
            <p class='ms-4 ps-4' style='color: green'>
                Bienvenido {{app.user.nombre}}
            </p>
        {% endif %}
        <div class="container m-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <div class="footer m-4 bg-light ps-4">
            &copy; Andr&eacute;s Court 2022 - All rights reserved
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
