<nav
  class='navbar navbar-expand-lg navbar-dark m-4'
  style='font-family: rustica, sans-serif !important; background: rgb(0, 102, 153);'
>
  <div class='container-fluid'>
    <a href="{{ path('app_homepage') }}" class='navbar-brand'>Sistema Control Presupuestario</a>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle active'
            href='#'
            id='navbarDropdownMenuLink'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Transacciones
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            <li><a class='dropdown-item ' href='{{ path('obra_show') }}'  >Obra</a></li>
            <li><a class='dropdown-item' href='{{ path('presupuesto_show') }}' >Presupuesto</a></li>
            <li><a class='dropdown-item' href='{{ path('factura_show')}}' >Factura</a></li>
            <li><a class='dropdown-item' href="{{ path('admin_cierre_mes') }}">Cierre de mes</a></li>
            <li><a class='dropdown-item' href='{{ path('actual') }}' >Avance de Obra</a></li>
            <li><a class='dropdown-item' href='#' >Flujo</a></li>
          </ul>
        </li>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle active'
            href='#'
            id='navbarDropdownMenuLink'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Reportes
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            <li><a class='dropdown-item' href='{{ path('cuadre')}}'>Cuadre</a></li>
            <li><a class="dropdown-item" href="{{path('gasto_mes')}}">Gastado en el mes</a></li>
            <li><a class='dropdown-item' href='{{ path('control_actual')}}'>Control Actual</a></li>
            <li><a class='dropdown-item' href='{{ path('control_find')}}'>Control por Fechas</a></li>
            <li><a class='dropdown-item' href='{{ path('obra_gasmes')}}'>Gastado Mensual</a></li>
            <li><a class='dropdown-item' href='{{ path('reporte_gastado_actual') }}'>Presupuesto vs. Ejecutado</a></li>
          </ul>
        </li>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle active'
            href='#'
            id='navbarDropdownMenuLink'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Par&aacute;metros
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            <li><a class='dropdown-item' href='{{ path('proveedor_show')}}'>Proveedor</a></li>
            <li><a class='dropdown-item' href='{{ path('partida_show') }}'>Partida</a></li>
          </ul>
        </li>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle active'
            href='#'
            id='navbarDropdownMenuLink'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Usuarios
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            <li><a class='dropdown-item' href='{{path('app_change_password')}}'>Cambio Contrase&ntilde;a</a></li>
            <li><a class='dropdown-item' href='{{path('user_show')}}'>Crear Usuario</a></li>
            <li><a class='dropdown-item' href='#'>Resetear Contrase&ntilde;a</a></li>
          </ul>
        </li>
        <li class='nav-item  me-auto'>
          <a class='nav-link active' href='{{ path('app_logout')}}'>Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
