{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{path('presupuesto_add')}}" class='btn btn-primary float-end'>Crear</a>
    <table class='table table-striped table-hover'>
        <thead>
            <tr>
                <td>Obra</td>
                <td>Partida</td>
                <td>Cantini</td>
                <td>Costini</td>
                <td>Totalini</td>
                <td>Rendidocan</td>
                <td>Rendidotot</td>
                <td>Porgascan</td>
                <td>Porgasuni</td>
                <td>Porgastot</td>
                <td>Presactu</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% for presupuesto in presupuestos %}
                <tr>
                    <td>{{ presupuesto.obra.nombre }}</td>
                    <td>{{ presupuesto.partida.nombre }}</td>
                    <td align='right'>{{ presupuesto.cantini ? presupuesto.cantini|number_format(2, '.', ',') : '' }}</td>
                    <td align='right'>{{ presupuesto.costoini ? presupuesto.costoini|number_format(2, '.', ',') : '' }}</td>
                    <td align='right'>{{ presupuesto.totalini|number_format(2, '.', ',') }}</td>
                    <td align='right'>{{ presupuesto.rendidocant ? presupuesto.rendidocant|number_format(2, '.', ',') : '' }}</td>
                    <td align='right'>{{ presupuesto.rendidotot|number_format(2, '.', ',') }}</td>
                    <td align='right'>{{ presupuesto.porgascan ? presupuesto.porgascan|number_format(2, '.', ',') : '' }}</td>
                    <td align='right'>{{ presupuesto.porgascost ? presupuesto.porgascost|number_format(2, '.', ',') : ''}}</td>
                    <td align='right'>{{ presupuesto.porgastot|number_format(2, '.', ',') }}</td>
                    <td align='right'>{{ presupuesto.presactu|number_format(2, '.', ',') }}</td>
                    <td><a href="{{ path('presupuesto_edit', { obraid: presupuesto.obra.id, partidaid: presupuesto.partida.id}) }}"><span class="{{ presupuesto.partida.acumula ? '': 'fa fa-pencil'}}"></span></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
