{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
            <a href="{{ path('factura_show') }}" class="btn btn-primary float-end ms-3">Salir</a>
            <button type="submit" class="btn btn-primary float-end ">Grabar</button>
    {{ form_end(form) }}
    <table class='table table-striped table-hover caption-top'>
        <caption>Detalle:</caption>
        <thead>
            <tr>
                <td>Partida</td>
                <td align='center'>Cantidad</td>
                <td align='center'>Unitario</td>
                <td align='center'>Total</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
                    <tr>
                        <td>{{detalle.partida.nombre}}</td>
                        <td align='right'>{{detalle.cantidad}}</td>
                        <td align='right'>{{detalle.unitario}}</td>
                        <td align='right'>{{detalle.total}}</td>
                        <td align='center'>
                            <a href="{{ path('detalle_delete', {factura: detalle.factura.id, partida: detalle.partida.id })
                            }}">
                                {# <img src="{{asset('img/trash-solid.svg')}}" alt="" class="minus" height='20px'> #}
                                <span class="fa-solid fa-trash-can"></span>
                            </a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <img src="img/minus-square-solid.svg" alt="" class="minus">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const cant= document.getElementById("detalle_factura_form_cantidad");
        const uni = document.getElementById("detalle_factura_form_unitario");
        let cantidad= 0;
        let unitario=0;
        cant.addEventListener("focusout", function(){
            if (isNaN(cant.value)){
                cantidad = 0;
                cant.value=0;
            } else {
                cantidad=cant.value;
            }
            document.getElementById("total").value=cantidad*unitario;
        });
        uni.addEventListener("focusout", function(){
            if (isNaN(uni.value)){
                uni.value=0;
                unitario=0;
            } else {
                unitario=uni.value;
            }
            document.getElementById("detalle_factura_form_total").value=cantidad*unitario;
        });
    </script>
    
{% endblock %}